@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Sans+JP:wght@400;500&display=swap");
@import "./reset";
@import "./select-page";
@import "./alphabet-page";
* {
  box-sizing: border-box;
}

// homepage

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
}

.homepage-wrapper {
  display: flex;
  min-height: 100vh;
}

.left-section {
  width: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.right-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-size: 4em;
    font-weight: 700;
    position: absolute;
    left: 5vw;
    height: 40vw;
    top: 50%;
    margin-top: -20vw;
  }

  a {
    background-color: #ff0000;
    width: 13vw;
    height: 13vw;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150%;
    color: transparent;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    transition: all 0.4s ease-out;

    &:hover {
      color: white;
      transform: scale(1.1);
    }
  }

  &::after {
    position: absolute;
    content: "日本";
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-size: 12em;
    font-weight: 700;
    right: 50px;
    bottom: 50px;
    opacity: 10%;
  }
}
