.menu-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 99;
  width: 100%;
  padding: 0.8vw 10vw;

  h1 {
    font-size: 3em;
    font-weight: 700;
  }

  ul {
    display: flex;
    grid-gap: 80px;
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: none;
    color: black;

    a {
      font-weight: 700;
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .return-button {
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition: all 0.4s ease-out;

    &:hover {
      background-color: #ff0000;
      color: white;
      transform: scale(1.1);
    }
  }
}

.vertical-title {
  position: absolute;
  text-orientation: upright;
  writing-mode: vertical-rl;
  font-size: 5em;
  font-weight: 700;
  left: 2vw;
  top: 10vw;
  opacity: 10%;
  letter-spacing: 0.5em;
}

.section-content {
  padding: 15vw;

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 900;
    padding-bottom: 2vw;
  }
}

.grid-main,
.grid-dakuten,
.grid-combo {
  display: grid;
  padding-bottom: 0;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 1vw;
  overflow: auto;
}

.grid-main,
.grid-combo {
  grid-template-columns: repeat(11, 1fr);
}

.grid-dakuten {
  grid-template-columns: repeat(5, 1fr);
}

.item {
  border: 0.5px solid black;
  text-align: center;
  background-color: white;
  padding: 1vw;
  font-family: "Noto Sans JP", sans-serif;

  h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    white-space: nowrap;
  }

  p {
    font-size: 1.5em;
    color: gray;
    padding-top: 1.5vw;
  }
}
